### Lambda Expressions Map and Filters

Lambda expressions are a way to quickly create anonymous functions - One time Use functions and never reference them again

### MAP function

In [2]:
def square(num):
    return num**2

In [3]:
my_nums = [1,2,3,4,5]

In [5]:
map(square,my_nums)

#Prints memory location of the map

In [6]:
for item in map(square,my_nums):
    print(item)

1
4
9
16
25

In [10]:
list(map(square,my_nums))

[1, 4, 9, 16, 25]

In [15]:
def splicer(my_string):
    if len(my_string) %2==0:
        return 'EVEN'
    else:
        return my_string[0]

In [16]:
names = ['Bucky','Andy','Ben']

In [17]:
list(map(splicer,names))

['B', 'EVEN', 'B']

***********************************

#### Filter Function:

Filter function returns iterator yielding those items of the iterable for which we pass in items is true

In [20]:
def check_even(num):
    return num % 2 == 0

In [28]:
my_nums = [1,2,3,4,5,6]

In [29]:
filter(check_even,my_nums)

In [30]:
list(filter(check_even,my_nums))

[2, 4, 6]

In [32]:
for n in filter(check_even,my_nums):
    print (n)

2
4
6

********************************************

#### Lambda Expression:

Converting a function step by step in to lambda expression

In [33]:
def square(num):
    result = num**2
    return result

In [34]:
square(5)

25

In [35]:
def square(num): return num ** 2

In [36]:
square(4)

16

In [37]:
def square(num): return num ** 2

In [38]:
lambda num: num ** 2

In [39]:
square = lambda num: num ** 2

In [40]:
square(5)

25

- Lambda expressions don't take names, instead we use conjuctions with other functions

In [41]:
list(map(lambda num:num**2, my_nums))

[1, 4, 9, 16, 25, 36]

In [43]:
#Filter functions with lambda

filter(lambda num: num % 2 == 0, my_nums)

In [44]:
list(filter(lambda num: num % 2 == 0, my_nums))

[2, 4, 6]

In [45]:
names

['Bucky', 'Andy', 'Ben']

In [47]:
list(map(lambda x: x[0], names))

['B', 'A', 'B']

In [48]:
list(map(lambda x: x[::-1], names))

['ykcuB', 'ydnA', 'neB']

should only use, when it is easy to read with lambda expressions