### datetime module

Python has the datetime module to help deal with timestamps in your code. Time values are represented with the time class. Times have attributes for hour, minute, second, and microsecond. They can also include time zone information. The arguments to initialize a time instance are optional, but the default of 0 is unlikely to be what you want.

#### time

In [1]:
import datetime

In [15]:
mytime = datetime.time(15,30,5,20)

In [16]:
mytime.hour

15

In [17]:
mytime.minute

30

In [18]:
mytime.second

5

In [28]:
print(mytime)

#just time information

15:30:05.000020

In [29]:
type(mytime)

datetime.time

_____________________________________________

#### date

In [30]:
today = datetime.date.today()

In [31]:
print(today)

2023-01-03

In [32]:
today.year

2023

In [33]:
today.month

1

In [34]:
today.day

3

In [35]:
today.ctime()

#shows only date

'Tue Jan  3 00:00:00 2023'

_____________________________________________

In [36]:
from datetime import datetime

In [42]:
mydatetime = datetime(2022,1,3,15,30,10)

In [43]:
print(mydatetime)

2022-01-03 15:30:10

In [45]:
mydatetime = mydatetime.replace(year=2023)

In [46]:
print(mydatetime)

2023-01-03 15:30:10

In [47]:
print('ctime:', today.ctime())
print('tuple:', today.timetuple())
print('ordinal:', today.toordinal())

ctime: Tue Jan  3 00:00:00 2023
tuple: time.struct_time(tm_year=2023, tm_mon=1, tm_mday=3, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=1, tm_yday=3, tm_isdst=-1)
ordinal: 738523